numpy>=1.26
pandas>=2.1
scipy>=1.11
scikit-learn>=1.4
torch>=2.2
h5py>=3.10
tqdm>=4.66
streamlit>=1.33
plotly>=5.20
fastapi>=0.110
uvicorn>=0.29
pydantic>=2.6
wfdb>=4.1
pyedflib>=0.1.38

requests>=2.31
psycopg[binary]>=3.1

xlrd>=2.0.1
